# PostgreSQL Secrets
PG_USER=nseedms
PG_PASSWORD=edms_password
PG_DB=edmsdb

# Nginx/SSL
DOMAIN_NAME=appdomainname.com
CERT_NAME=appdomainname.com

#APP
APP_PASS=edms_admin_password
APP_PORT=8081
PROJECT_CLID=PROJECT_CLID

#PATHS
EDMS_DATA_PATH=/var/lib/edms
EDMS_LOGS_PATH=/var/log/edms
EDMS_CONF_PATH=/etc/edms